swagger: "2.0"
info:
  version: "1.0"
  title: G-MOOC 4D (Admin)
  contact: {}
host: nurz.me
basePath: /
securityDefinitions: {}
schemes:
  - https
consumes:
  - application/json
produces:
  - application/json
paths:
  /api/login:
    post:
      summary: login
      tags:
        - Auth
      operationId: login
      deprecated: false
      produces:
        - application/json
      parameters:
        - name: Body
          in: body
          required: true
          description: ""
          schema:
            $ref: "#/definitions/loginrequest"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/login"
          examples:
            application/json:
              metadata:
                code: 200
                status: success
                message: User Berhasil Masuk
              data:
                token: 2|C5MA0F7mVTkeYHfKlM6oB4VmN0Kv0O5zFQ2AD07M
                id_user: 2
                name: Iman Nurjaman
          headers:
            Host:
              type: string
              default: localhost:8000
            Date:
              type: string
              default: Wed, 09 Aug 2023 03:10:52 GMT
            Connection:
              type: string
              default: close
            X-Powered-By:
              type: string
              default: PHP/8.2.8
            Cache-Control:
              type: string
              default: no-cache, private
            X-RateLimit-Limit:
              type: string
              default: "60"
            X-RateLimit-Remaining:
              type: string
              default: "59"
            Vary:
              type: string
              default: Origin
      security: []
  /api/logout:
    get:
      summary: logout
      tags:
        - Auth
      operationId: logout
      deprecated: false
      produces:
        - application/json
      parameters:
        - name: Authorization
          in: header
          required: false
          default: Bearer {token}
          type: string
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/logout"
          examples:
            application/json:
              metadata:
                code: 200
                status: success
                message: User Berhasil Logout
              data:
                message: User berhasil logout
          headers:
            Host:
              type: string
              default: localhost:8000
            Date:
              type: string
              default: Fri, 11 Aug 2023 14:17:30 GMT
            Connection:
              type: string
              default: close
            X-Powered-By:
              type: string
              default: PHP/8.1.12-1ubuntu4.2
            Cache-Control:
              type: string
              default: no-cache, private
            X-RateLimit-Limit:
              type: string
              default: "60"
            X-RateLimit-Remaining:
              type: string
              default: "59"
            Vary:
              type: string
              default: Origin
  /api/admin:
    get:
      summary: session
      tags:
        - Session
      operationId: session
      deprecated: false
      produces:
        - application/json
      parameters:
        - name: Authorization
          in: header
          required: false
          default: Bearer {token}
          type: string
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/session"
          examples:
            application/json:
              metadata:
                code: 200
                status: success
                message: User Berhasil Ditemukan
              data:
                id_user: 1
                name: Admin Voicesee
                email: voicesee@nurz.site
                image: null
                email_verified_at: 2023-09-11T02:49:52.000000Z
                created_at: 2023-09-11T02:49:52.000000Z
                updated_at: 2023-09-11T02:49:52.000000Z
                role: Admin
          headers:
            Host:
              type: string
              default: 127.0.0.1:8000
            Date:
              type: string
              default: Wed, 13 Sep 2023 08:54:15 GMT
            Connection:
              type: string
              default: close
            X-Powered-By:
              type: string
              default: PHP/8.1.2-1ubuntu2.14
            Cache-Control:
              type: string
              default: no-cache, private
            X-RateLimit-Limit:
              type: string
              default: "60"
            X-RateLimit-Remaining:
              type: string
              default: "59"
            Vary:
              type: string
              default: Origin
  /api/admin/user/2:
    get:
      summary: get user
      tags:
        - Users
      operationId: getuser
      deprecated: false
      produces:
        - application/json
      parameters:
        - name: Authorization
          in: header
          required: false
          default: Bearer {token}
          type: string
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/getuser"
          examples:
            application/json:
              metadata:
                code: 200
                status: success
                message: User Berhasil Ditemukan
              data:
                id_user: 2
                name: User Voicesee
                email: user@nurz.site
                image: null
                email_verified_at: 2023-09-11T02:49:52.000000Z
                created_at: 2023-09-11T02:49:52.000000Z
                updated_at: 2023-09-11T02:49:52.000000Z
                role: User
          headers:
            Host:
              type: string
              default: 127.0.0.1:8000
            Date:
              type: string
              default: Wed, 13 Sep 2023 08:52:55 GMT
            Connection:
              type: string
              default: close
            X-Powered-By:
              type: string
              default: PHP/8.1.2-1ubuntu2.14
            Cache-Control:
              type: string
              default: no-cache, private
            X-RateLimit-Limit:
              type: string
              default: "60"
            X-RateLimit-Remaining:
              type: string
              default: "59"
            Vary:
              type: string
              default: Origin
  /api/admin/user/all:
    get:
      summary: get all user
      tags:
        - Users
      operationId: getalluser
      deprecated: false
      produces:
        - application/json
      parameters:
        - name: Authorization
          in: header
          required: false
          default: Bearer {token}
          type: string
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/getalluser"
          examples:
            application/json:
              metadata:
                code: 200
                status: success
                message: Data Users Berhasil Diambil
              data:
                - id_user: 1
                  name: Iman Nurjaman
                  email: imannurzaman39@gmail.com
                  image: null
                  email_verified_at: 2023-08-11T11:48:21.000000Z
                  created_at: 2023-08-11T11:48:07.000000Z
                  updated_at: 2023-08-11T11:48:07.000000Z
                  role:
                    id_role: 2
                    name: User
                    description: This is the user role.
          headers:
            Host:
              type: string
              default: localhost:8000
            Date:
              type: string
              default: Fri, 11 Aug 2023 14:18:14 GMT
            Connection:
              type: string
              default: close
            X-Powered-By:
              type: string
              default: PHP/8.1.12-1ubuntu4.2
            Cache-Control:
              type: string
              default: no-cache, private
            X-RateLimit-Limit:
              type: string
              default: "60"
            X-RateLimit-Remaining:
              type: string
              default: "57"
            Vary:
              type: string
              default: Origin
  /api/admin/levelKelas/all:
    get:
      summary: Get all level kelas
      tags:
        - Level kelas
      operationId: Getalllevelkelas
      deprecated: false
      produces:
        - application/json
      parameters:
        - name: Authorization
          in: header
          required: false
          default: Bearer {token}
          type: string
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/Getalllevelkelas"
          examples:
            application/json:
              metadata:
                code: 200
                status: success
                message: Level Kelas berhasil ditampilkan
              data:
                - id_level: 1
                  name: Mudah
                  description: Materi yang mudah dipahami
                  created_at: 2023-09-14T04:15:43.000000Z
                  updated_at: 2023-09-14T04:15:43.000000Z
                - id_level: 2
                  name: Normal
                  description: Materi yang biasa saja
                  created_at: 2023-09-14T04:15:43.000000Z
                  updated_at: 2023-09-14T04:15:43.000000Z
                - id_level: 3
                  name: Sulit
                  description: Materi yang sulit dipahami
                  created_at: 2023-09-14T04:15:43.000000Z
                  updated_at: 2023-09-14T04:15:43.000000Z
          headers:
            Host:
              type: string
              default: 127.0.0.1:8000
            Date:
              type: string
              default: Tue, 26 Sep 2023 00:46:34 GMT
            Connection:
              type: string
              default: close
            X-Powered-By:
              type: string
              default: PHP/8.1.2-1ubuntu2.14
            Cache-Control:
              type: string
              default: no-cache, private
            X-RateLimit-Limit:
              type: string
              default: "60"
            X-RateLimit-Remaining:
              type: string
              default: "55"
            Vary:
              type: string
              default: Origin
  /api/admin/levelKelas/1:
    get:
      summary: Get level by id
      tags:
        - Level kelas
      operationId: Getlevelbyid
      deprecated: false
      produces:
        - application/json
      parameters:
        - name: Authorization
          in: header
          required: false
          default: Bearer {token}
          type: string
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/Getlevelbyid"
          examples:
            application/json:
              metadata:
                code: 200
                status: success
                message: Level Kelas berhasil ditampilkan
              data:
                id_level: 1
                name: Mudah
                description: Materi yang mudah dipahami
                created_at: 2023-09-14T04:15:43.000000Z
                updated_at: 2023-09-14T04:15:43.000000Z
                kelas:
                  - id_kelas: 1
                    name: Javascript
                    description: JavaScript adalah bahasa pemrograman tingkat tinggi yang pada awalnya dikembangkan untuk membuat website menjadi lebih “hidup”.
                    image: null
                    id_level: 1
                    created_at: 2023-09-14T04:15:47.000000Z
                    updated_at: 2023-09-14T04:15:47.000000Z
                    status: belum
                    materi:
                      - id_materi: 1
                        id_kelas: 1
                        name: "Dasar Pemrograman dengan Javascript : INTRO"
                        materi: Di seri ini kita akan mempelajari mengenai konsep dasar pemrograman, istilah2 yang ada dalam dunia pemrograman, cara menulis dan mengeksekusi program, dll.
                        url: https://www.youtube.com/watch?v=RUTV_5m4VeI&ab_channel=WebProgrammingUNPAS
                        durasi: 5000
                        poin: 20
                        created_at: 2023-09-14T04:15:51.000000Z
                        updated_at: 2023-09-14T04:15:51.000000Z
                      - id_materi: 2
                        id_kelas: 1
                        name: "Dasar Pemrograman dengan Javascript : Variable"
                        materi: Di seri ini kita akan mempelajari mengenai konsep dasar pemrograman, istilah2 yang ada dalam dunia pemrograman, cara menulis dan mengeksekusi program, dll.
                        url: https://www.youtube.com/watch?v=Ncrlg9kTC6U&ab_channel=WebProgrammingUNPAS
                        durasi: 6000
                        poin: 30
                        created_at: 2023-09-14T04:15:51.000000Z
                        updated_at: 2023-09-14T04:15:51.000000Z
                      - id_materi: 3
                        id_kelas: 1
                        name: "Dasar Pemrograman dengan Javascript : Tipe Data"
                        materi: Di seri ini kita akan mempelajari mengenai konsep dasar pemrograman, istilah2 yang ada dalam dunia pemrograman, cara menulis dan mengeksekusi program, dll.
                        url: https://www.youtube.com/watch?v=dugL0oYx0w0&ab_channel=WebProgrammingUNPAS
                        durasi: 7000
                        poin: 40
                        created_at: 2023-09-14T04:15:51.000000Z
                        updated_at: 2023-09-14T04:15:51.000000Z
                    quiz:
                      - id_quiz: 1
                        id_kelas: 1
                        question: Pengertian dari Javascript
                        true_answer: A
                        created_at: 2023-09-14T04:15:56.000000Z
                        updated_at: 2023-09-14T07:23:52.000000Z
                        options:
                          - id_option: 1
                            id_quiz: 1
                            kunci: A
                            option: ini adalah a
                            created_at: 2023-09-14T04:15:58.000000Z
                            updated_at: 2023-09-14T08:08:52.000000Z
                          - id_option: 2
                            id_quiz: 1
                            kunci: B
                            option: ini adalah b
                            created_at: 2023-09-14T04:15:58.000000Z
                            updated_at: 2023-09-14T08:08:52.000000Z
                          - id_option: 3
                            id_quiz: 1
                            kunci: C
                            option: ini adalah c
                            created_at: 2023-09-14T04:15:58.000000Z
                            updated_at: 2023-09-14T08:08:52.000000Z
                      - id_quiz: 2
                        id_kelas: 1
                        question: Javascript dibuat oleh?
                        true_answer: B
                        created_at: 2023-09-14T04:15:56.000000Z
                        updated_at: 2023-09-14T04:15:56.000000Z
                        options:
                          - id_option: 4
                            id_quiz: 2
                            kunci: A
                            option: Brendan Eich
                            created_at: 2023-09-14T04:15:58.000000Z
                            updated_at: 2023-09-14T04:15:58.000000Z
                          - id_option: 5
                            id_quiz: 2
                            kunci: B
                            option: Guido van Rossum
                            created_at: 2023-09-14T04:15:58.000000Z
                            updated_at: 2023-09-14T04:15:58.000000Z
                          - id_option: 6
                            id_quiz: 2
                            kunci: C
                            option: Rasmus Lerdorf
                            created_at: 2023-09-14T04:15:58.000000Z
                            updated_at: 2023-09-14T04:15:58.000000Z
                      - id_quiz: 13
                        id_kelas: 1
                        question: javascript digunakan untuk?
                        true_answer: A
                        created_at: 2023-09-14T08:01:05.000000Z
                        updated_at: 2023-09-14T08:01:05.000000Z
                        options:
                          - id_option: 37
                            id_quiz: 13
                            kunci: A
                            option: bahasa pemrograman yang bisa memanipulasi tampilan dengan real time
                            created_at: 2023-09-14T08:01:05.000000Z
                            updated_at: 2023-09-14T08:01:05.000000Z
                          - id_option: 38
                            id_quiz: 13
                            kunci: B
                            option: bahasa pemrograman yang bisa memperlihatkan yang bagus
                            created_at: 2023-09-14T08:01:05.000000Z
                            updated_at: 2023-09-14T08:01:05.000000Z
                          - id_option: 39
                            id_quiz: 13
                            kunci: C
                            option: bahasa pemrograman yang bisa membuat aplikasi desktop
                            created_at: 2023-09-14T08:01:05.000000Z
                            updated_at: 2023-09-14T08:01:05.000000Z
                  - id_kelas: 4
                    name: HTML
                    description: HTML adalah singkatan dari Hypertext Markup Language. HTML adalah bahasa markup standar untuk dokumen yang dirancang untuk ditampilkan di peramban web.
                    image: null
                    id_level: 1
                    created_at: 2023-09-14T04:15:47.000000Z
                    updated_at: 2023-09-14T04:15:47.000000Z
                    status: belum
                    materi:
                      - id_materi: 10
                        id_kelas: 4
                        name: "Dasar Pemrograman dengan HTML : INTRO"
                        materi: HTML adalah singkatan dari Hypertext Markup Language. HTML adalah bahasa markup standar untuk dokumen yang dirancang untuk ditampilkan di peramban web.
                        url: https://www.youtube.com/watch?v=QXeEoD0pB3E&list=PLFIM0718LjIVCmrSWbZPKCccCkfFw-Naa&ab_channel=WebProgrammingUNPAS
                        durasi: 6000
                        poin: 30
                        created_at: 2023-09-14T04:15:51.000000Z
                        updated_at: 2023-09-14T04:15:51.000000Z
                      - id_materi: 11
                        id_kelas: 4
                        name: "Dasar Pemrograman dengan HTML : Variable"
                        materi: HTML adalah singkatan dari Hypertext Markup Language. HTML adalah bahasa markup standar untuk dokumen yang dirancang untuk ditampilkan di peramban web.
                        url: https://www.youtube.com/watch?v=QXeEoD0pB3E&list=PLFIM0718LjIVCmrSWbZPKCccCkfFw-Naa&index=2&ab_channel=WebProgrammingUNPAS
                        durasi: 7000
                        poin: 40
                        created_at: 2023-09-14T04:15:51.000000Z
                        updated_at: 2023-09-14T04:15:51.000000Z
                      - id_materi: 12
                        id_kelas: 4
                        name: "Dasar Pemrograman dengan HTML : Tipe Data"
                        materi: HTML adalah singkatan dari Hypertext Markup Language. HTML adalah bahasa markup standar untuk dokumen yang dirancang untuk ditampilkan di peramban web.
                        url: https://www.youtube.com/watch?v=QXeEoD0pB3E&list=PLFIM0718LjIVCmrSWbZPKCccCkfFw-Naa&index=3&ab_channel=WebProgrammingUNPAS
                        durasi: 8000
                        poin: 50
                        created_at: 2023-09-14T04:15:51.000000Z
                        updated_at: 2023-09-14T04:15:51.000000Z
                    quiz:
                      - id_quiz: 7
                        id_kelas: 4
                        question: Apa pengertian dari HTML?
                        true_answer: A
                        created_at: 2023-09-14T04:15:56.000000Z
                        updated_at: 2023-09-14T04:15:56.000000Z
                        options:
                          - id_option: 19
                            id_quiz: 7
                            kunci: A
                            option: Bahasa pemrograman yang digunakan untuk membuat website
                            created_at: 2023-09-14T04:15:58.000000Z
                            updated_at: 2023-09-14T04:15:58.000000Z
                          - id_option: 20
                            id_quiz: 7
                            kunci: B
                            option: Bahasa pemrograman yang digunakan untuk membuat aplikasi mobile
                            created_at: 2023-09-14T04:15:58.000000Z
                            updated_at: 2023-09-14T04:15:58.000000Z
                          - id_option: 21
                            id_quiz: 7
                            kunci: C
                            option: Bahasa pemrograman yang digunakan untuk membuat aplikasi desktop
                            created_at: 2023-09-14T04:15:58.000000Z
                            updated_at: 2023-09-14T04:15:58.000000Z
                      - id_quiz: 8
                        id_kelas: 4
                        question: HTML dibuat oleh?
                        true_answer: B
                        created_at: 2023-09-14T04:15:56.000000Z
                        updated_at: 2023-09-14T04:15:56.000000Z
                        options:
                          - id_option: 22
                            id_quiz: 8
                            kunci: A
                            option: Brendan Eich
                            created_at: 2023-09-14T04:15:58.000000Z
                            updated_at: 2023-09-14T04:15:58.000000Z
                          - id_option: 23
                            id_quiz: 8
                            kunci: B
                            option: Guido van Rossum
                            created_at: 2023-09-14T04:15:58.000000Z
                            updated_at: 2023-09-14T04:15:58.000000Z
                          - id_option: 24
                            id_quiz: 8
                            kunci: C
                            option: Rasmus Lerdorf
                            created_at: 2023-09-14T04:15:58.000000Z
                            updated_at: 2023-09-14T04:15:58.000000Z
          headers:
            Host:
              type: string
              default: 127.0.0.1:8000
            Date:
              type: string
              default: Tue, 26 Sep 2023 00:46:58 GMT
            Connection:
              type: string
              default: close
            X-Powered-By:
              type: string
              default: PHP/8.1.2-1ubuntu2.14
            Cache-Control:
              type: string
              default: no-cache, private
            X-RateLimit-Limit:
              type: string
              default: "60"
            X-RateLimit-Remaining:
              type: string
              default: "59"
            Vary:
              type: string
              default: Origin
  /api/admin/levelKelas/update/2:
    put:
      summary: Update level kelas
      tags:
        - Level kelas
      operationId: Updatelevelkelas
      deprecated: false
      produces:
        - application/json
      parameters:
        - name: Authorization
          in: header
          required: false
          default: Bearer {token}
          type: string
        - name: Body
          in: body
          required: true
          description: ""
          schema:
            $ref: "#/definitions/UpdatelevelkelasRequest"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/Updatelevelkelas"
          examples:
            application/json:
              metadata:
                code: 200
                status: success
                message: Level Kelas berhasil diupdate
              data:
                id_level: 2
                name: Normal
                description: kelas ini tingkat kesulitannya menengah
                created_at: 2023-09-01T07:08:56.000000Z
                updated_at: 2023-09-01T17:13:08.000000Z
          headers:
            Host:
              type: string
              default: 127.0.0.1:8000
            Date:
              type: string
              default: Fri, 01 Sep 2023 17:13:08 GMT
            Connection:
              type: string
              default: close
            X-Powered-By:
              type: string
              default: PHP/8.2.9
            Cache-Control:
              type: string
              default: no-cache, private
            X-RateLimit-Limit:
              type: string
              default: "60"
            X-RateLimit-Remaining:
              type: string
              default: "57"
            Vary:
              type: string
              default: Origin
  /api/admin/kelas/create:
    post:
      summary: create kelas
      tags:
        - Kelas
      operationId: createkelas
      deprecated: false
      produces:
        - application/json
      consumes:
        - multipart/form-data
      parameters:
        - name: Authorization
          in: header
          required: false
          default: Bearer {token}
          type: string
        - name: name
          in: formData
          required: true
          type: string
          description: ""
        - name: image
          in: formData
          required: true
          type: file
          format: file
          description: ""
        - name: id_level
          in: formData
          required: true
          type: integer
          format: int32
          description: ""
        - name: description
          in: formData
          required: true
          type: string
          description: ""
      responses:
        "201":
          description: Created
          schema:
            $ref: "#/definitions/createkelas"
          examples:
            application/json:
              metadata:
                code: 201
                status: success
                message: Kelas berhasil dibuat
              data:
                name: Javascrypt 3
                image: images/kelas/3QKfgi4jFBmZzNYrpHawspcDHm23Cog57h0E1N8R.png
          headers:
            Host:
              type: string
              default: localhost:8000
            Date:
              type: string
              default: Wed, 09 Aug 2023 03:29:23 GMT
            Connection:
              type: string
              default: close
            X-Powered-By:
              type: string
              default: PHP/8.2.8
            Cache-Control:
              type: string
              default: no-cache, private
            X-RateLimit-Limit:
              type: string
              default: "60"
            X-RateLimit-Remaining:
              type: string
              default: "59"
            Vary:
              type: string
              default: Origin
  /api/admin/kelas/all:
    get:
      summary: get all kelas
      tags:
        - Kelas
      operationId: getallkelas
      deprecated: false
      produces:
        - application/json
      parameters:
        - name: Authorization
          in: header
          required: false
          default: Bearer {token}
          type: string
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/getallkelas"
          examples:
            application/json:
              metadata:
                code: 200
                status: success
                message: Kelas berhasil ditampilkan
              data:
                - id_kelas: 1
                  name: Javascript
                  description: JavaScript adalah bahasa pemrograman tingkat tinggi yang pada awalnya dikembangkan untuk membuat website menjadi lebih “hidup”.
                  image: null
                  id_level: 1
                  created_at: 2023-09-14T04:15:47.000000Z
                  updated_at: 2023-09-14T04:15:47.000000Z
                  level:
                    id_level: 1
                    name: Mudah
                    description: Materi yang mudah dipahami
                    created_at: 2023-09-14T04:15:43.000000Z
                    updated_at: 2023-09-14T04:15:43.000000Z
                  materi:
                    - id_materi: 1
                      id_kelas: 1
                      name: "Dasar Pemrograman dengan Javascript : INTRO"
                      materi: Di seri ini kita akan mempelajari mengenai konsep dasar pemrograman, istilah2 yang ada dalam dunia pemrograman, cara menulis dan mengeksekusi program, dll.
                      url: https://www.youtube.com/watch?v=RUTV_5m4VeI&ab_channel=WebProgrammingUNPAS
                      durasi: 5000
                      poin: 20
                      created_at: 2023-09-14T04:15:51.000000Z
                      updated_at: 2023-09-14T04:15:51.000000Z
                    - id_materi: 2
                      id_kelas: 1
                      name: "Dasar Pemrograman dengan Javascript : Variable"
                      materi: Di seri ini kita akan mempelajari mengenai konsep dasar pemrograman, istilah2 yang ada dalam dunia pemrograman, cara menulis dan mengeksekusi program, dll.
                      url: https://www.youtube.com/watch?v=Ncrlg9kTC6U&ab_channel=WebProgrammingUNPAS
                      durasi: 6000
                      poin: 30
                      created_at: 2023-09-14T04:15:51.000000Z
                      updated_at: 2023-09-14T04:15:51.000000Z
                    - id_materi: 3
                      id_kelas: 1
                      name: "Dasar Pemrograman dengan Javascript : Tipe Data"
                      materi: Di seri ini kita akan mempelajari mengenai konsep dasar pemrograman, istilah2 yang ada dalam dunia pemrograman, cara menulis dan mengeksekusi program, dll.
                      url: https://www.youtube.com/watch?v=dugL0oYx0w0&ab_channel=WebProgrammingUNPAS
                      durasi: 7000
                      poin: 40
                      created_at: 2023-09-14T04:15:51.000000Z
                      updated_at: 2023-09-14T04:15:51.000000Z
                  quiz:
                    - id_quiz: 1
                      id_kelas: 1
                      question: Pengertian dari Javascript
                      true_answer: A
                      created_at: 2023-09-14T04:15:56.000000Z
                      updated_at: 2023-09-14T07:23:52.000000Z
                      options:
                        - id_option: 1
                          id_quiz: 1
                          kunci: A
                          option: ini adalah a
                          created_at: 2023-09-14T04:15:58.000000Z
                          updated_at: 2023-09-14T08:08:52.000000Z
                        - id_option: 2
                          id_quiz: 1
                          kunci: B
                          option: ini adalah b
                          created_at: 2023-09-14T04:15:58.000000Z
                          updated_at: 2023-09-14T08:08:52.000000Z
                        - id_option: 3
                          id_quiz: 1
                          kunci: C
                          option: ini adalah c
                          created_at: 2023-09-14T04:15:58.000000Z
                          updated_at: 2023-09-14T08:08:52.000000Z
                    - id_quiz: 2
                      id_kelas: 1
                      question: Javascript dibuat oleh?
                      true_answer: B
                      created_at: 2023-09-14T04:15:56.000000Z
                      updated_at: 2023-09-14T04:15:56.000000Z
                      options:
                        - id_option: 4
                          id_quiz: 2
                          kunci: A
                          option: Brendan Eich
                          created_at: 2023-09-14T04:15:58.000000Z
                          updated_at: 2023-09-14T04:15:58.000000Z
                        - id_option: 5
                          id_quiz: 2
                          kunci: B
                          option: Guido van Rossum
                          created_at: 2023-09-14T04:15:58.000000Z
                          updated_at: 2023-09-14T04:15:58.000000Z
                        - id_option: 6
                          id_quiz: 2
                          kunci: C
                          option: Rasmus Lerdorf
                          created_at: 2023-09-14T04:15:58.000000Z
                          updated_at: 2023-09-14T04:15:58.000000Z
                    - id_quiz: 13
                      id_kelas: 1
                      question: javascript digunakan untuk?
                      true_answer: A
                      created_at: 2023-09-14T08:01:05.000000Z
                      updated_at: 2023-09-14T08:01:05.000000Z
                      options:
                        - id_option: 37
                          id_quiz: 13
                          kunci: A
                          option: bahasa pemrograman yang bisa memanipulasi tampilan dengan real time
                          created_at: 2023-09-14T08:01:05.000000Z
                          updated_at: 2023-09-14T08:01:05.000000Z
                        - id_option: 38
                          id_quiz: 13
                          kunci: B
                          option: bahasa pemrograman yang bisa memperlihatkan yang bagus
                          created_at: 2023-09-14T08:01:05.000000Z
                          updated_at: 2023-09-14T08:01:05.000000Z
                        - id_option: 39
                          id_quiz: 13
                          kunci: C
                          option: bahasa pemrograman yang bisa membuat aplikasi desktop
                          created_at: 2023-09-14T08:01:05.000000Z
                          updated_at: 2023-09-14T08:01:05.000000Z
                - id_kelas: 2
                  name: PHP
                  description: Hypertext Preprocessor atau hanya PHP saja, adalah bahasa skrip dengan fungsi umum yang terutama digunakan untuk pengembangan web.
                  image: null
                  id_level: 2
                  created_at: 2023-09-14T04:15:47.000000Z
                  updated_at: 2023-09-14T04:15:47.000000Z
                  level:
                    id_level: 2
                    name: Normal
                    description: Materi yang biasa saja
                    created_at: 2023-09-14T04:15:43.000000Z
                    updated_at: 2023-09-14T04:15:43.000000Z
                  materi:
                    - id_materi: 4
                      id_kelas: 2
                      name: "Dasar Pemrograman dengan PHP : INTRO"
                      materi: Di seri ini kita akan mempelajari mengenai konsep dasar pemrograman, istilah2 yang ada dalam dunia pemrograman, cara menulis dan mengeksekusi program, dll.
                      url: https://www.youtube.com/watch?v=l1W2OwV5rgY&list=PLFIM0718LjIUqXfmEIBE3-uzERZPh3vp6&ab_channel=WebProgrammingUNPAS
                      durasi: 5500
                      poin: 30
                      created_at: 2023-09-14T04:15:51.000000Z
                      updated_at: 2023-09-14T04:15:51.000000Z
                    - id_materi: 5
                      id_kelas: 2
                      name: "Dasar Pemrograman dengan PHP : Variable"
                      materi: Di seri ini kita akan mempelajari mengenai konsep dasar pemrograman, istilah2 yang ada dalam dunia pemrograman, cara menulis dan mengeksekusi program, dll.
                      url: https://www.youtube.com/watch?v=q3NVC5JxgVI&list=PLFIM0718LjIUqXfmEIBE3-uzERZPh3vp6&index=2&ab_channel=WebProgrammingUNPAS
                      durasi: 6500
                      poin: 40
                      created_at: 2023-09-14T04:15:51.000000Z
                      updated_at: 2023-09-14T04:15:51.000000Z
                    - id_materi: 6
                      id_kelas: 2
                      name: "Dasar Pemrograman dengan PHP : Tipe Data"
                      materi: Di seri ini kita akan mempelajari mengenai konsep dasar pemrograman, istilah2 yang ada dalam dunia pemrograman, cara menulis dan mengeksekusi program, dll.
                      url: https://www.youtube.com/watch?v=o8oLQVYlpqw&list=PLFIM0718LjIUqXfmEIBE3-uzERZPh3vp6&index=3&ab_channel=WebProgrammingUNPAS
                      durasi: 7500
                      poin: 50
                      created_at: 2023-09-14T04:15:51.000000Z
                      updated_at: 2023-09-14T04:15:51.000000Z
                  quiz:
                    - id_quiz: 3
                      id_kelas: 2
                      question: Apa pengertian dari PHP?
                      true_answer: B
                      created_at: 2023-09-14T04:15:56.000000Z
                      updated_at: 2023-09-14T04:15:56.000000Z
                      options:
                        - id_option: 7
                          id_quiz: 3
                          kunci: A
                          option: Bahasa pemrograman yang digunakan untuk membuat website
                          created_at: 2023-09-14T04:15:58.000000Z
                          updated_at: 2023-09-14T04:15:58.000000Z
                        - id_option: 8
                          id_quiz: 3
                          kunci: B
                          option: Bahasa pemrograman yang digunakan untuk membuat aplikasi mobile
                          created_at: 2023-09-14T04:15:58.000000Z
                          updated_at: 2023-09-14T04:15:58.000000Z
                        - id_option: 9
                          id_quiz: 3
                          kunci: C
                          option: Bahasa pemrograman yang digunakan untuk membuat aplikasi desktop
                          created_at: 2023-09-14T04:15:58.000000Z
                          updated_at: 2023-09-14T04:15:58.000000Z
                    - id_quiz: 4
                      id_kelas: 2
                      question: PHP dibuat oleh?
                      true_answer: A
                      created_at: 2023-09-14T04:15:56.000000Z
                      updated_at: 2023-09-14T04:15:56.000000Z
                      options:
                        - id_option: 10
                          id_quiz: 4
                          kunci: A
                          option: Rasmus Lerdorf
                          created_at: 2023-09-14T04:15:58.000000Z
                          updated_at: 2023-09-14T04:15:58.000000Z
                        - id_option: 11
                          id_quiz: 4
                          kunci: B
                          option: Brendan Eich
                          created_at: 2023-09-14T04:15:58.000000Z
                          updated_at: 2023-09-14T04:15:58.000000Z
                        - id_option: 12
                          id_quiz: 4
                          kunci: C
                          option: Guido van Rossum
                          created_at: 2023-09-14T04:15:58.000000Z
                          updated_at: 2023-09-14T04:15:58.000000Z
                - id_kelas: 3
                  name: Python
                  description: Python adalah bahasa pemrograman interpretatif multiguna dengan filosofi perancangan yang berfokus pada tingkat keterbacaan kode.
                  image: null
                  id_level: 3
                  created_at: 2023-09-14T04:15:47.000000Z
                  updated_at: 2023-09-14T04:15:47.000000Z
                  level:
                    id_level: 3
                    name: Sulit
                    description: Materi yang sulit dipahami
                    created_at: 2023-09-14T04:15:43.000000Z
                    updated_at: 2023-09-14T04:15:43.000000Z
                  materi:
                    - id_materi: 7
                      id_kelas: 3
                      name: "Dasar Pemrograman dengan Python : INTRO"
                      materi: Di seri ini kita akan mempelajari mengenai konsep dasar pemrograman, istilah2 yang ada dalam dunia pemrograman, cara menulis dan mengeksekusi program, dll.
                      url: https://www.youtube.com/watch?v=QXeEoD0pB3E&list=PLFIM0718LjIVCmrSWbZPKCccCkfFw-Naa&ab_channel=WebProgrammingUNPAS
                      durasi: 6000
                      poin: 30
                      created_at: 2023-09-14T04:15:51.000000Z
                      updated_at: 2023-09-14T04:15:51.000000Z
                    - id_materi: 8
                      id_kelas: 3
                      name: "Dasar Pemrograman dengan Python : Variable"
                      materi: Di seri ini kita akan mempelajari mengenai konsep dasar pemrograman, istilah2 yang ada dalam dunia pemrograman, cara menulis dan mengeksekusi program, dll.
                      url: https://www.youtube.com/watch?v=QXeEoD0pB3E&list=PLFIM0718LjIVCmrSWbZPKCccCkfFw-Naa&index=2&ab_channel=WebProgrammingUNPAS
                      durasi: 7000
                      poin: 40
                      created_at: 2023-09-14T04:15:51.000000Z
                      updated_at: 2023-09-14T04:15:51.000000Z
                    - id_materi: 9
                      id_kelas: 3
                      name: "Dasar Pemrograman dengan Python : Tipe Data"
                      materi: Di seri ini kita akan mempelajari mengenai konsep dasar pemrograman, istilah2 yang ada dalam dunia pemrograman, cara menulis dan mengeksekusi program, dll.
                      url: https://www.youtube.com/watch?v=QXeEoD0pB3E&list=PLFIM0718LjIVCmrSWbZPKCccCkfFw-Naa&index=3&ab_channel=WebProgrammingUNPAS
                      durasi: 8000
                      poin: 50
                      created_at: 2023-09-14T04:15:51.000000Z
                      updated_at: 2023-09-14T04:15:51.000000Z
                  quiz:
                    - id_quiz: 5
                      id_kelas: 3
                      question: Apa pengertian dari Python?
                      true_answer: A
                      created_at: 2023-09-14T04:15:56.000000Z
                      updated_at: 2023-09-14T04:15:56.000000Z
                      options:
                        - id_option: 13
                          id_quiz: 5
                          kunci: A
                          option: Bahasa pemrograman yang digunakan untuk membuat website
                          created_at: 2023-09-14T04:15:58.000000Z
                          updated_at: 2023-09-14T04:15:58.000000Z
                        - id_option: 14
                          id_quiz: 5
                          kunci: B
                          option: Bahasa pemrograman yang digunakan untuk membuat aplikasi mobile
                          created_at: 2023-09-14T04:15:58.000000Z
                          updated_at: 2023-09-14T04:15:58.000000Z
                        - id_option: 15
                          id_quiz: 5
                          kunci: C
                          option: Bahasa pemrograman yang digunakan untuk membuat aplikasi desktop
                          created_at: 2023-09-14T04:15:58.000000Z
                          updated_at: 2023-09-14T04:15:58.000000Z
                    - id_quiz: 6
                      id_kelas: 3
                      question: Python dibuat oleh?
                      true_answer: B
                      created_at: 2023-09-14T04:15:56.000000Z
                      updated_at: 2023-09-14T04:15:56.000000Z
                      options:
                        - id_option: 16
                          id_quiz: 6
                          kunci: A
                          option: Guido van Rossum
                          created_at: 2023-09-14T04:15:58.000000Z
                          updated_at: 2023-09-14T04:15:58.000000Z
                        - id_option: 17
                          id_quiz: 6
                          kunci: B
                          option: Brendan Eich
                          created_at: 2023-09-14T04:15:58.000000Z
                          updated_at: 2023-09-14T04:15:58.000000Z
                        - id_option: 18
                          id_quiz: 6
                          kunci: C
                          option: Rasmus Lerdorf
                          created_at: 2023-09-14T04:15:58.000000Z
                          updated_at: 2023-09-14T04:15:58.000000Z
                - id_kelas: 4
                  name: HTML
                  description: HTML adalah singkatan dari Hypertext Markup Language. HTML adalah bahasa markup standar untuk dokumen yang dirancang untuk ditampilkan di peramban web.
                  image: null
                  id_level: 1
                  created_at: 2023-09-14T04:15:47.000000Z
                  updated_at: 2023-09-14T04:15:47.000000Z
                  level:
                    id_level: 1
                    name: Mudah
                    description: Materi yang mudah dipahami
                    created_at: 2023-09-14T04:15:43.000000Z
                    updated_at: 2023-09-14T04:15:43.000000Z
                  materi:
                    - id_materi: 10
                      id_kelas: 4
                      name: "Dasar Pemrograman dengan HTML : INTRO"
                      materi: HTML adalah singkatan dari Hypertext Markup Language. HTML adalah bahasa markup standar untuk dokumen yang dirancang untuk ditampilkan di peramban web.
                      url: https://www.youtube.com/watch?v=QXeEoD0pB3E&list=PLFIM0718LjIVCmrSWbZPKCccCkfFw-Naa&ab_channel=WebProgrammingUNPAS
                      durasi: 6000
                      poin: 30
                      created_at: 2023-09-14T04:15:51.000000Z
                      updated_at: 2023-09-14T04:15:51.000000Z
                    - id_materi: 11
                      id_kelas: 4
                      name: "Dasar Pemrograman dengan HTML : Variable"
                      materi: HTML adalah singkatan dari Hypertext Markup Language. HTML adalah bahasa markup standar untuk dokumen yang dirancang untuk ditampilkan di peramban web.
                      url: https://www.youtube.com/watch?v=QXeEoD0pB3E&list=PLFIM0718LjIVCmrSWbZPKCccCkfFw-Naa&index=2&ab_channel=WebProgrammingUNPAS
                      durasi: 7000
                      poin: 40
                      created_at: 2023-09-14T04:15:51.000000Z
                      updated_at: 2023-09-14T04:15:51.000000Z
                    - id_materi: 12
                      id_kelas: 4
                      name: "Dasar Pemrograman dengan HTML : Tipe Data"
                      materi: HTML adalah singkatan dari Hypertext Markup Language. HTML adalah bahasa markup standar untuk dokumen yang dirancang untuk ditampilkan di peramban web.
                      url: https://www.youtube.com/watch?v=QXeEoD0pB3E&list=PLFIM0718LjIVCmrSWbZPKCccCkfFw-Naa&index=3&ab_channel=WebProgrammingUNPAS
                      durasi: 8000
                      poin: 50
                      created_at: 2023-09-14T04:15:51.000000Z
                      updated_at: 2023-09-14T04:15:51.000000Z
                  quiz:
                    - id_quiz: 7
                      id_kelas: 4
                      question: Apa pengertian dari HTML?
                      true_answer: A
                      created_at: 2023-09-14T04:15:56.000000Z
                      updated_at: 2023-09-14T04:15:56.000000Z
                      options:
                        - id_option: 19
                          id_quiz: 7
                          kunci: A
                          option: Bahasa pemrograman yang digunakan untuk membuat website
                          created_at: 2023-09-14T04:15:58.000000Z
                          updated_at: 2023-09-14T04:15:58.000000Z
                        - id_option: 20
                          id_quiz: 7
                          kunci: B
                          option: Bahasa pemrograman yang digunakan untuk membuat aplikasi mobile
                          created_at: 2023-09-14T04:15:58.000000Z
                          updated_at: 2023-09-14T04:15:58.000000Z
                        - id_option: 21
                          id_quiz: 7
                          kunci: C
                          option: Bahasa pemrograman yang digunakan untuk membuat aplikasi desktop
                          created_at: 2023-09-14T04:15:58.000000Z
                          updated_at: 2023-09-14T04:15:58.000000Z
                    - id_quiz: 8
                      id_kelas: 4
                      question: HTML dibuat oleh?
                      true_answer: B
                      created_at: 2023-09-14T04:15:56.000000Z
                      updated_at: 2023-09-14T04:15:56.000000Z
                      options:
                        - id_option: 22
                          id_quiz: 8
                          kunci: A
                          option: Brendan Eich
                          created_at: 2023-09-14T04:15:58.000000Z
                          updated_at: 2023-09-14T04:15:58.000000Z
                        - id_option: 23
                          id_quiz: 8
                          kunci: B
                          option: Guido van Rossum
                          created_at: 2023-09-14T04:15:58.000000Z
                          updated_at: 2023-09-14T04:15:58.000000Z
                        - id_option: 24
                          id_quiz: 8
                          kunci: C
                          option: Rasmus Lerdorf
                          created_at: 2023-09-14T04:15:58.000000Z
                          updated_at: 2023-09-14T04:15:58.000000Z
                - id_kelas: 5
                  name: CSS
                  description: CSS adalah singkatan dari Cascading Style Sheets. CSS adalah bahasa gaya yang digunakan untuk mendefinisikan tata letak dari dokumen HTML.
                  image: null
                  id_level: 2
                  created_at: 2023-09-14T04:15:47.000000Z
                  updated_at: 2023-09-14T04:15:47.000000Z
                  level:
                    id_level: 2
                    name: Normal
                    description: Materi yang biasa saja
                    created_at: 2023-09-14T04:15:43.000000Z
                    updated_at: 2023-09-14T04:15:43.000000Z
                  materi:
                    - id_materi: 13
                      id_kelas: 5
                      name: "Dasar Pemrograman dengan CSS : INTRO"
                      materi: CSS adalah singkatan dari Cascading Style Sheets. CSS adalah bahasa gaya yang digunakan untuk mendefinisikan tata letak dari dokumen HTML.
                      url: https://www.youtube.com/watch?v=QXeEoD0pB3E&list=PLFIM0718LjIVCmrSWbZPKCccCkfFw-Naa&ab_channel=WebProgrammingUNPAS
                      durasi: 6000
                      poin: 30
                      created_at: 2023-09-14T04:15:51.000000Z
                      updated_at: 2023-09-14T04:15:51.000000Z
                    - id_materi: 14
                      id_kelas: 5
                      name: "Dasar Pemrograman dengan CSS : Variable"
                      materi: CSS adalah singkatan dari Cascading Style Sheets. CSS adalah bahasa gaya yang digunakan untuk mendefinisikan tata letak dari dokumen HTML.
                      url: https://www.youtube.com/watch?v=QXeEoD0pB3E&list=PLFIM0718LjIVCmrSWbZPKCccCkfFw-Naa&index=2&ab_channel=WebProgrammingUNPAS
                      durasi: 7000
                      poin: 40
                      created_at: 2023-09-14T04:15:51.000000Z
                      updated_at: 2023-09-14T04:15:51.000000Z
                    - id_materi: 15
                      id_kelas: 5
                      name: "Dasar Pemrograman dengan CSS : Tipe Data"
                      materi: CSS adalah singkatan dari Cascading Style Sheets. CSS adalah bahasa gaya yang digunakan untuk mendefinisikan tata letak dari dokumen HTML.
                      url: https://www.youtube.com/watch?v=QXeEoD0pB3E&list=PLFIM0718LjIVCmrSWbZPKCccCkfFw-Naa&index=3&ab_channel=WebProgrammingUNPAS
                      durasi: 8000
                      poin: 50
                      created_at: 2023-09-14T04:15:51.000000Z
                      updated_at: 2023-09-14T04:15:51.000000Z
                  quiz:
                    - id_quiz: 9
                      id_kelas: 5
                      question: Apa pengertian dari CSS?
                      true_answer: A
                      created_at: 2023-09-14T04:15:56.000000Z
                      updated_at: 2023-09-14T04:15:56.000000Z
                      options:
                        - id_option: 25
                          id_quiz: 9
                          kunci: A
                          option: Bahasa pemrograman yang digunakan untuk membuat website
                          created_at: 2023-09-14T04:15:58.000000Z
                          updated_at: 2023-09-14T04:15:58.000000Z
                        - id_option: 26
                          id_quiz: 9
                          kunci: B
                          option: Bahasa pemrograman yang digunakan untuk membuat aplikasi mobile
                          created_at: 2023-09-14T04:15:58.000000Z
                          updated_at: 2023-09-14T04:15:58.000000Z
                        - id_option: 27
                          id_quiz: 9
                          kunci: C
                          option: Bahasa pemrograman yang digunakan untuk membuat aplikasi desktop
                          created_at: 2023-09-14T04:15:58.000000Z
                          updated_at: 2023-09-14T04:15:58.000000Z
                    - id_quiz: 10
                      id_kelas: 5
                      question: CSS dibuat oleh?
                      true_answer: B
                      created_at: 2023-09-14T04:15:56.000000Z
                      updated_at: 2023-09-14T04:15:56.000000Z
                      options:
                        - id_option: 28
                          id_quiz: 10
                          kunci: A
                          option: Guido van Rossum
                          created_at: 2023-09-14T04:15:58.000000Z
                          updated_at: 2023-09-14T04:15:58.000000Z
                        - id_option: 29
                          id_quiz: 10
                          kunci: B
                          option: Brendan Eich
                          created_at: 2023-09-14T04:15:58.000000Z
                          updated_at: 2023-09-14T04:15:58.000000Z
                        - id_option: 30
                          id_quiz: 10
                          kunci: C
                          option: Rasmus Lerdorf
                          created_at: 2023-09-14T04:15:58.000000Z
                          updated_at: 2023-09-14T04:15:58.000000Z
                - id_kelas: 6
                  name: Java
                  description: Java adalah bahasa pemrograman yang dapat dijalankan di berbagai komputer termasuk telepon genggam.
                  image: null
                  id_level: 3
                  created_at: 2023-09-14T04:15:47.000000Z
                  updated_at: 2023-09-14T04:15:47.000000Z
                  level:
                    id_level: 3
                    name: Sulit
                    description: Materi yang sulit dipahami
                    created_at: 2023-09-14T04:15:43.000000Z
                    updated_at: 2023-09-14T04:15:43.000000Z
                  materi:
                    - id_materi: 16
                      id_kelas: 6
                      name: "Dasar Pemrograman dengan Java : INTRO"
                      materi: Java adalah bahasa pemrograman yang dapat dijalankan di berbagai komputer termasuk telepon genggam.
                      url: https://www.youtube.com/watch?v=QXeEoD0pB3E&list=PLFIM0718LjIVCmrSWbZPKCccCkfFw-Naa&ab_channel=WebProgrammingUNPAS
                      durasi: 6000
                      poin: 30
                      created_at: 2023-09-14T04:15:51.000000Z
                      updated_at: 2023-09-14T04:15:51.000000Z
                    - id_materi: 17
                      id_kelas: 6
                      name: "Dasar Pemrograman dengan Java : Variable"
                      materi: Java adalah bahasa pemrograman yang dapat dijalankan di berbagai komputer termasuk telepon genggam.
                      url: https://www.youtube.com/watch?v=QXeEoD0pB3E&list=PLFIM0718LjIVCmrSWbZPKCccCkfFw-Naa&index=2&ab_channel=WebProgrammingUNPAS
                      durasi: 7000
                      poin: 40
                      created_at: 2023-09-14T04:15:51.000000Z
                      updated_at: 2023-09-14T04:15:51.000000Z
                    - id_materi: 18
                      id_kelas: 6
                      name: "Dasar Pemrograman dengan Java : Tipe Data"
                      materi: Java adalah bahasa pemrograman yang dapat dijalankan di berbagai komputer termasuk telepon genggam.
                      url: https://www.youtube.com/watch?v=QXeEoD0pB3E&list=PLFIM0718LjIVCmrSWbZPKCccCkfFw-Naa&index=3&ab_channel=WebProgrammingUNPAS
                      durasi: 8000
                      poin: 50
                      created_at: 2023-09-14T04:15:51.000000Z
                      updated_at: 2023-09-14T04:15:51.000000Z
                  quiz:
                    - id_quiz: 11
                      id_kelas: 6
                      question: Apa pengertian dari Java?
                      true_answer: A
                      created_at: 2023-09-14T04:15:56.000000Z
                      updated_at: 2023-09-14T04:15:56.000000Z
                      options:
                        - id_option: 31
                          id_quiz: 11
                          kunci: A
                          option: Bahasa pemrograman yang digunakan untuk membuat website
                          created_at: 2023-09-14T04:15:58.000000Z
                          updated_at: 2023-09-14T04:15:58.000000Z
                        - id_option: 32
                          id_quiz: 11
                          kunci: B
                          option: Bahasa pemrograman yang digunakan untuk membuat aplikasi mobile
                          created_at: 2023-09-14T04:15:58.000000Z
                          updated_at: 2023-09-14T04:15:58.000000Z
                        - id_option: 33
                          id_quiz: 11
                          kunci: C
                          option: Bahasa pemrograman yang digunakan untuk membuat aplikasi desktop
                          created_at: 2023-09-14T04:15:58.000000Z
                          updated_at: 2023-09-14T04:15:58.000000Z
                    - id_quiz: 12
                      id_kelas: 6
                      question: Java dibuat oleh?
                      true_answer: B
                      created_at: 2023-09-14T04:15:56.000000Z
                      updated_at: 2023-09-14T04:15:56.000000Z
                      options:
                        - id_option: 34
                          id_quiz: 12
                          kunci: A
                          option: Guido van Rossum
                          created_at: 2023-09-14T04:15:58.000000Z
                          updated_at: 2023-09-14T04:15:58.000000Z
                        - id_option: 35
                          id_quiz: 12
                          kunci: B
                          option: Brendan Eich
                          created_at: 2023-09-14T04:15:58.000000Z
                          updated_at: 2023-09-14T04:15:58.000000Z
                        - id_option: 36
                          id_quiz: 12
                          kunci: C
                          option: Rasmus Lerdorf
                          created_at: 2023-09-14T04:15:58.000000Z
                          updated_at: 2023-09-14T04:15:58.000000Z
          headers:
            Host:
              type: string
              default: 127.0.0.1:8000
            Date:
              type: string
              default: Tue, 26 Sep 2023 00:48:10 GMT
            Connection:
              type: string
              default: close
            X-Powered-By:
              type: string
              default: PHP/8.1.2-1ubuntu2.14
            Cache-Control:
              type: string
              default: no-cache, private
            X-RateLimit-Limit:
              type: string
              default: "60"
            X-RateLimit-Remaining:
              type: string
              default: "59"
            Vary:
              type: string
              default: Origin
  /api/admin/kelasSearch:
    get:
      summary: search kelas
      tags:
        - Kelas
      operationId: searchkelas
      deprecated: false
      produces:
        - application/json
      parameters:
        - name: Authorization
          in: header
          required: false
          default: Bearer {token}
          type: string
        - name: name
          in: query
          required: true
          type: string
          description: ""
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/searchkelas"
          examples:
            application/json:
              metadata:
                code: 200
                status: success
                message: Kelas Berhasil Ditemukan
              data:
                - id_kelas: 1
                  name: Javascript
                  description: JavaScript adalah bahasa pemrograman tingkat tinggi yang pada awalnya dikembangkan untuk membuat website menjadi lebih “hidup”.
                  image: null
                  id_level: 1
                  created_at: 2023-09-14T04:15:47.000000Z
                  updated_at: 2023-09-14T04:15:47.000000Z
                  level:
                    id_level: 1
                    name: Mudah
                    description: Materi yang mudah dipahami
                    created_at: 2023-09-14T04:15:43.000000Z
                    updated_at: 2023-09-14T04:15:43.000000Z
                  materi:
                    - id_materi: 1
                      id_kelas: 1
                      name: "Dasar Pemrograman dengan Javascript : INTRO"
                      materi: Di seri ini kita akan mempelajari mengenai konsep dasar pemrograman, istilah2 yang ada dalam dunia pemrograman, cara menulis dan mengeksekusi program, dll.
                      url: https://www.youtube.com/watch?v=RUTV_5m4VeI&ab_channel=WebProgrammingUNPAS
                      durasi: 5000
                      poin: 20
                      created_at: 2023-09-14T04:15:51.000000Z
                      updated_at: 2023-09-14T04:15:51.000000Z
                    - id_materi: 2
                      id_kelas: 1
                      name: "Dasar Pemrograman dengan Javascript : Variable"
                      materi: Di seri ini kita akan mempelajari mengenai konsep dasar pemrograman, istilah2 yang ada dalam dunia pemrograman, cara menulis dan mengeksekusi program, dll.
                      url: https://www.youtube.com/watch?v=Ncrlg9kTC6U&ab_channel=WebProgrammingUNPAS
                      durasi: 6000
                      poin: 30
                      created_at: 2023-09-14T04:15:51.000000Z
                      updated_at: 2023-09-14T04:15:51.000000Z
                    - id_materi: 3
                      id_kelas: 1
                      name: "Dasar Pemrograman dengan Javascript : Tipe Data"
                      materi: Di seri ini kita akan mempelajari mengenai konsep dasar pemrograman, istilah2 yang ada dalam dunia pemrograman, cara menulis dan mengeksekusi program, dll.
                      url: https://www.youtube.com/watch?v=dugL0oYx0w0&ab_channel=WebProgrammingUNPAS
                      durasi: 7000
                      poin: 40
                      created_at: 2023-09-14T04:15:51.000000Z
                      updated_at: 2023-09-14T04:15:51.000000Z
                  quiz:
                    - id_quiz: 1
                      id_kelas: 1
                      question: Pengertian dari Javascript
                      true_answer: A
                      created_at: 2023-09-14T04:15:56.000000Z
                      updated_at: 2023-09-14T07:23:52.000000Z
                      options:
                        - id_option: 1
                          id_quiz: 1
                          kunci: A
                          option: ini adalah a
                          created_at: 2023-09-14T04:15:58.000000Z
                          updated_at: 2023-09-14T08:08:52.000000Z
                        - id_option: 2
                          id_quiz: 1
                          kunci: B
                          option: ini adalah b
                          created_at: 2023-09-14T04:15:58.000000Z
                          updated_at: 2023-09-14T08:08:52.000000Z
                        - id_option: 3
                          id_quiz: 1
                          kunci: C
                          option: ini adalah c
                          created_at: 2023-09-14T04:15:58.000000Z
                          updated_at: 2023-09-14T08:08:52.000000Z
                    - id_quiz: 2
                      id_kelas: 1
                      question: Javascript dibuat oleh?
                      true_answer: B
                      created_at: 2023-09-14T04:15:56.000000Z
                      updated_at: 2023-09-14T04:15:56.000000Z
                      options:
                        - id_option: 4
                          id_quiz: 2
                          kunci: A
                          option: Brendan Eich
                          created_at: 2023-09-14T04:15:58.000000Z
                          updated_at: 2023-09-14T04:15:58.000000Z
                        - id_option: 5
                          id_quiz: 2
                          kunci: B
                          option: Guido van Rossum
                          created_at: 2023-09-14T04:15:58.000000Z
                          updated_at: 2023-09-14T04:15:58.000000Z
                        - id_option: 6
                          id_quiz: 2
                          kunci: C
                          option: Rasmus Lerdorf
                          created_at: 2023-09-14T04:15:58.000000Z
                          updated_at: 2023-09-14T04:15:58.000000Z
                    - id_quiz: 13
                      id_kelas: 1
                      question: javascript digunakan untuk?
                      true_answer: A
                      created_at: 2023-09-14T08:01:05.000000Z
                      updated_at: 2023-09-14T08:01:05.000000Z
                      options:
                        - id_option: 37
                          id_quiz: 13
                          kunci: A
                          option: bahasa pemrograman yang bisa memanipulasi tampilan dengan real time
                          created_at: 2023-09-14T08:01:05.000000Z
                          updated_at: 2023-09-14T08:01:05.000000Z
                        - id_option: 38
                          id_quiz: 13
                          kunci: B
                          option: bahasa pemrograman yang bisa memperlihatkan yang bagus
                          created_at: 2023-09-14T08:01:05.000000Z
                          updated_at: 2023-09-14T08:01:05.000000Z
                        - id_option: 39
                          id_quiz: 13
                          kunci: C
                          option: bahasa pemrograman yang bisa membuat aplikasi desktop
                          created_at: 2023-09-14T08:01:05.000000Z
                          updated_at: 2023-09-14T08:01:05.000000Z
                - id_kelas: 6
                  name: Java
                  description: Java adalah bahasa pemrograman yang dapat dijalankan di berbagai komputer termasuk telepon genggam.
                  image: null
                  id_level: 3
                  created_at: 2023-09-14T04:15:47.000000Z
                  updated_at: 2023-09-14T04:15:47.000000Z
                  level:
                    id_level: 3
                    name: Sulit
                    description: Materi yang sulit dipahami
                    created_at: 2023-09-14T04:15:43.000000Z
                    updated_at: 2023-09-14T04:15:43.000000Z
                  materi:
                    - id_materi: 16
                      id_kelas: 6
                      name: "Dasar Pemrograman dengan Java : INTRO"
                      materi: Java adalah bahasa pemrograman yang dapat dijalankan di berbagai komputer termasuk telepon genggam.
                      url: https://www.youtube.com/watch?v=QXeEoD0pB3E&list=PLFIM0718LjIVCmrSWbZPKCccCkfFw-Naa&ab_channel=WebProgrammingUNPAS
                      durasi: 6000
                      poin: 30
                      created_at: 2023-09-14T04:15:51.000000Z
                      updated_at: 2023-09-14T04:15:51.000000Z
                    - id_materi: 17
                      id_kelas: 6
                      name: "Dasar Pemrograman dengan Java : Variable"
                      materi: Java adalah bahasa pemrograman yang dapat dijalankan di berbagai komputer termasuk telepon genggam.
                      url: https://www.youtube.com/watch?v=QXeEoD0pB3E&list=PLFIM0718LjIVCmrSWbZPKCccCkfFw-Naa&index=2&ab_channel=WebProgrammingUNPAS
                      durasi: 7000
                      poin: 40
                      created_at: 2023-09-14T04:15:51.000000Z
                      updated_at: 2023-09-14T04:15:51.000000Z
                    - id_materi: 18
                      id_kelas: 6
                      name: "Dasar Pemrograman dengan Java : Tipe Data"
                      materi: Java adalah bahasa pemrograman yang dapat dijalankan di berbagai komputer termasuk telepon genggam.
                      url: https://www.youtube.com/watch?v=QXeEoD0pB3E&list=PLFIM0718LjIVCmrSWbZPKCccCkfFw-Naa&index=3&ab_channel=WebProgrammingUNPAS
                      durasi: 8000
                      poin: 50
                      created_at: 2023-09-14T04:15:51.000000Z
                      updated_at: 2023-09-14T04:15:51.000000Z
                  quiz:
                    - id_quiz: 11
                      id_kelas: 6
                      question: Apa pengertian dari Java?
                      true_answer: A
                      created_at: 2023-09-14T04:15:56.000000Z
                      updated_at: 2023-09-14T04:15:56.000000Z
                      options:
                        - id_option: 31
                          id_quiz: 11
                          kunci: A
                          option: Bahasa pemrograman yang digunakan untuk membuat website
                          created_at: 2023-09-14T04:15:58.000000Z
                          updated_at: 2023-09-14T04:15:58.000000Z
                        - id_option: 32
                          id_quiz: 11
                          kunci: B
                          option: Bahasa pemrograman yang digunakan untuk membuat aplikasi mobile
                          created_at: 2023-09-14T04:15:58.000000Z
                          updated_at: 2023-09-14T04:15:58.000000Z
                        - id_option: 33
                          id_quiz: 11
                          kunci: C
                          option: Bahasa pemrograman yang digunakan untuk membuat aplikasi desktop
                          created_at: 2023-09-14T04:15:58.000000Z
                          updated_at: 2023-09-14T04:15:58.000000Z
                    - id_quiz: 12
                      id_kelas: 6
                      question: Java dibuat oleh?
                      true_answer: B
                      created_at: 2023-09-14T04:15:56.000000Z
                      updated_at: 2023-09-14T04:15:56.000000Z
                      options:
                        - id_option: 34
                          id_quiz: 12
                          kunci: A
                          option: Guido van Rossum
                          created_at: 2023-09-14T04:15:58.000000Z
                          updated_at: 2023-09-14T04:15:58.000000Z
                        - id_option: 35
                          id_quiz: 12
                          kunci: B
                          option: Brendan Eich
                          created_at: 2023-09-14T04:15:58.000000Z
                          updated_at: 2023-09-14T04:15:58.000000Z
                        - id_option: 36
                          id_quiz: 12
                          kunci: C
                          option: Rasmus Lerdorf
                          created_at: 2023-09-14T04:15:58.000000Z
                          updated_at: 2023-09-14T04:15:58.000000Z
          headers:
            Host:
              type: string
              default: 127.0.0.1:8000
            Date:
              type: string
              default: Fri, 15 Sep 2023 08:34:11 GMT
            Connection:
              type: string
              default: close
            X-Powered-By:
              type: string
              default: PHP/8.1.2-1ubuntu2.14
            Cache-Control:
              type: string
              default: no-cache, private
            X-RateLimit-Limit:
              type: string
              default: "60"
            X-RateLimit-Remaining:
              type: string
              default: "58"
            Vary:
              type: string
              default: Origin
  /api/admin/kelas/1:
    get:
      summary: get kelas by id
      tags:
        - Kelas
      operationId: getkelasbyid
      deprecated: false
      produces:
        - application/json
      parameters:
        - name: Authorization
          in: header
          required: false
          default: Bearer {token}
          type: string
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/getkelasbyid"
          examples:
            application/json:
              metadata:
                code: 200
                status: success
                message: Kelas Berhasil Ditemukan
              data:
                id_kelas: 1
                name: Javascript
                description: JavaScript adalah bahasa pemrograman tingkat tinggi yang pada awalnya dikembangkan untuk membuat website menjadi lebih “hidup”.
                image: null
                id_level: 1
                created_at: 2023-09-14T04:15:47.000000Z
                updated_at: 2023-09-14T04:15:47.000000Z
                level:
                  id_level: 1
                  name: Mudah
                  description: Materi yang mudah dipahami
                  created_at: 2023-09-14T04:15:43.000000Z
                  updated_at: 2023-09-14T04:15:43.000000Z
                materi:
                  - id_materi: 1
                    id_kelas: 1
                    name: "Dasar Pemrograman dengan Javascript : INTRO"
                    materi: Di seri ini kita akan mempelajari mengenai konsep dasar pemrograman, istilah2 yang ada dalam dunia pemrograman, cara menulis dan mengeksekusi program, dll.
                    url: https://www.youtube.com/watch?v=RUTV_5m4VeI&ab_channel=WebProgrammingUNPAS
                    durasi: 5000
                    poin: 20
                    created_at: 2023-09-14T04:15:51.000000Z
                    updated_at: 2023-09-14T04:15:51.000000Z
                  - id_materi: 2
                    id_kelas: 1
                    name: "Dasar Pemrograman dengan Javascript : Variable"
                    materi: Di seri ini kita akan mempelajari mengenai konsep dasar pemrograman, istilah2 yang ada dalam dunia pemrograman, cara menulis dan mengeksekusi program, dll.
                    url: https://www.youtube.com/watch?v=Ncrlg9kTC6U&ab_channel=WebProgrammingUNPAS
                    durasi: 6000
                    poin: 30
                    created_at: 2023-09-14T04:15:51.000000Z
                    updated_at: 2023-09-14T04:15:51.000000Z
                  - id_materi: 3
                    id_kelas: 1
                    name: "Dasar Pemrograman dengan Javascript : Tipe Data"
                    materi: Di seri ini kita akan mempelajari mengenai konsep dasar pemrograman, istilah2 yang ada dalam dunia pemrograman, cara menulis dan mengeksekusi program, dll.
                    url: https://www.youtube.com/watch?v=dugL0oYx0w0&ab_channel=WebProgrammingUNPAS
                    durasi: 7000
                    poin: 40
                    created_at: 2023-09-14T04:15:51.000000Z
                    updated_at: 2023-09-14T04:15:51.000000Z
                quiz:
                  - id_quiz: 1
                    id_kelas: 1
                    question: Pengertian dari Javascript
                    true_answer: A
                    created_at: 2023-09-14T04:15:56.000000Z
                    updated_at: 2023-09-14T07:23:52.000000Z
                    options:
                      - id_option: 1
                        id_quiz: 1
                        kunci: A
                        option: ini adalah a
                        created_at: 2023-09-14T04:15:58.000000Z
                        updated_at: 2023-09-14T08:08:52.000000Z
                      - id_option: 2
                        id_quiz: 1
                        kunci: B
                        option: ini adalah b
                        created_at: 2023-09-14T04:15:58.000000Z
                        updated_at: 2023-09-14T08:08:52.000000Z
                      - id_option: 3
                        id_quiz: 1
                        kunci: C
                        option: ini adalah c
                        created_at: 2023-09-14T04:15:58.000000Z
                        updated_at: 2023-09-14T08:08:52.000000Z
                  - id_quiz: 2
                    id_kelas: 1
                    question: Javascript dibuat oleh?
                    true_answer: B
                    created_at: 2023-09-14T04:15:56.000000Z
                    updated_at: 2023-09-14T04:15:56.000000Z
                    options:
                      - id_option: 4
                        id_quiz: 2
                        kunci: A
                        option: Brendan Eich
                        created_at: 2023-09-14T04:15:58.000000Z
                        updated_at: 2023-09-14T04:15:58.000000Z
                      - id_option: 5
                        id_quiz: 2
                        kunci: B
                        option: Guido van Rossum
                        created_at: 2023-09-14T04:15:58.000000Z
                        updated_at: 2023-09-14T04:15:58.000000Z
                      - id_option: 6
                        id_quiz: 2
                        kunci: C
                        option: Rasmus Lerdorf
                        created_at: 2023-09-14T04:15:58.000000Z
                        updated_at: 2023-09-14T04:15:58.000000Z
                  - id_quiz: 13
                    id_kelas: 1
                    question: javascript digunakan untuk?
                    true_answer: A
                    created_at: 2023-09-14T08:01:05.000000Z
                    updated_at: 2023-09-14T08:01:05.000000Z
                    options:
                      - id_option: 37
                        id_quiz: 13
                        kunci: A
                        option: bahasa pemrograman yang bisa memanipulasi tampilan dengan real time
                        created_at: 2023-09-14T08:01:05.000000Z
                        updated_at: 2023-09-14T08:01:05.000000Z
                      - id_option: 38
                        id_quiz: 13
                        kunci: B
                        option: bahasa pemrograman yang bisa memperlihatkan yang bagus
                        created_at: 2023-09-14T08:01:05.000000Z
                        updated_at: 2023-09-14T08:01:05.000000Z
                      - id_option: 39
                        id_quiz: 13
                        kunci: C
                        option: bahasa pemrograman yang bisa membuat aplikasi desktop
                        created_at: 2023-09-14T08:01:05.000000Z
                        updated_at: 2023-09-14T08:01:05.000000Z
          headers:
            Host:
              type: string
              default: 127.0.0.1:8000
            Date:
              type: string
              default: Tue, 26 Sep 2023 00:48:47 GMT
            Connection:
              type: string
              default: close
            X-Powered-By:
              type: string
              default: PHP/8.1.2-1ubuntu2.14
            Cache-Control:
              type: string
              default: no-cache, private
            X-RateLimit-Limit:
              type: string
              default: "60"
            X-RateLimit-Remaining:
              type: string
              default: "57"
            Vary:
              type: string
              default: Origin
  /api/admin/kelasByLevel:
    get:
      summary: get all kelas by level
      tags:
        - Kelas
      operationId: getallkelasbyid
      deprecated: false
      produces:
        - application/json
      parameters:
        - name: Authorization
          in: header
          required: false
          default: Bearer {token}
          type: string
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/getallkelasbylevel"
          examples:
            application/json:
              metadata:
                code: 200
                status: success
                message: Kelas berhasil ditampilkan sesuai level
              data:
                id_level: 1
                name: Mudah
                description: Materi yang mudah dipahami
                created_at: 2023-09-14T04:15:43.000000Z
                updated_at: 2023-09-14T04:15:43.000000Z
                kelas: 
                  - id_kelas: 1
                    name: Javascript
                    description: JavaScript adalah bahasa pemrograman tingkat tinggi yang pada awalnya dikembangkan untuk membuat website menjadi lebih “hidup”.
                    image: null
                    id_level: 1
                    created_at: 2023-09-14T04:15:47.000000Z
                    updated_at: 2023-09-14T04:15:47.000000Z
                    status: belum
                    materi:
                      - id_materi: 1
                        id_kelas: 1
                        name: "Dasar Pemrograman dengan Javascript : INTRO"
                        materi: Di seri ini kita akan mempelajari mengenai konsep dasar pemrograman, istilah2 yang ada dalam dunia pemrograman, cara menulis dan mengeksekusi program, dll.
                        url: https://www.youtube.com/watch?v=RUTV_5m4VeI&ab_channel=WebProgrammingUNPAS
                        durasi: 5000
                        poin: 20
                        created_at: 2023-09-14T04:15:51.000000Z
                        updated_at: 2023-09-14T04:15:51.000000Z
                      - id_materi: 2
                        id_kelas: 1
                        name: "Dasar Pemrograman dengan Javascript : Variable"
                        materi: Di seri ini kita akan mempelajari mengenai konsep dasar pemrograman, istilah2 yang ada dalam dunia pemrograman, cara menulis dan mengeksekusi program, dll.
                        url: https://www.youtube.com/watch?v=Ncrlg9kTC6U&ab_channel=WebProgrammingUNPAS
                        durasi: 6000
                        poin: 30
                        created_at: 2023-09-14T04:15:51.000000Z
                        updated_at: 2023-09-14T04:15:51.000000Z
                      - id_materi: 3
                        id_kelas: 1
                        name: "Dasar Pemrograman dengan Javascript : Tipe Data"
                        materi: Di seri ini kita akan mempelajari mengenai konsep dasar pemrograman, istilah2 yang ada dalam dunia pemrograman, cara menulis dan mengeksekusi program, dll.
                        url: https://www.youtube.com/watch?v=dugL0oYx0w0&ab_channel=WebProgrammingUNPAS
                        durasi: 7000
                        poin: 40
                        created_at: 2023-09-14T04:15:51.000000Z
                        updated_at: 2023-09-14T04:15:51.000000Z
                    quiz:
                      - id_quiz: 1
                        id_kelas: 1
                        question: Pengertian dari Javascript
                        true_answer: A
                        created_at: 2023-09-14T04:15:56.000000Z
                        updated_at: 2023-09-14T07:23:52.000000Z
                        options:
                          - id_option: 1
                            id_quiz: 1
                            kunci: A
                            option: ini adalah a
                            created_at: 2023-09-14T04:15:58.000000Z
                            updated_at: 2023-09-14T08:08:52.000000Z
                          - id_option: 2
                            id_quiz: 1
                            kunci: B
                            option: ini adalah b
                            created_at: 2023-09-14T04:15:58.000000Z
                            updated_at: 2023-09-14T08:08:52.000000Z
                          - id_option: 3
                            id_quiz: 1
                            kunci: C
                            option: ini adalah c
                            created_at: 2023-09-14T04:15:58.000000Z
                            updated_at: 2023-09-14T08:08:52.000000Z
                      - id_quiz: 2
                        id_kelas: 1
                        question: Javascript dibuat oleh?
                        true_answer: B
                        created_at: 2023-09-14T04:15:56.000000Z
                        updated_at: 2023-09-14T04:15:56.000000Z
                        options:
                          - id_option: 4
                            id_quiz: 2
                            kunci: A
                            option: Brendan Eich
                            created_at: 2023-09-14T04:15:58.000000Z
                            updated_at: 2023-09-14T04:15:58.000000Z
                          - id_option: 5
                            id_quiz: 2
                            kunci: B
                            option: Guido van Rossum
                            created_at: 2023-09-14T04:15:58.000000Z
                            updated_at: 2023-09-14T04:15:58.000000Z
                          - id_option: 6
                            id_quiz: 2
                            kunci: C
                            option: Rasmus Lerdorf
                            created_at: 2023-09-14T04:15:58.000000Z
                            updated_at: 2023-09-14T04:15:58.000000Z
                      - id_quiz: 13
                        id_kelas: 1
                        question: javascript digunakan untuk?
                        true_answer: A
                        created_at: 2023-09-14T08:01:05.000000Z
                        updated_at: 2023-09-14T08:01:05.000000Z
                        options:
                          - id_option: 37
                            id_quiz: 13
                            kunci: A
                            option: bahasa pemrograman yang bisa memanipulasi tampilan dengan real time
                            created_at: 2023-09-14T08:01:05.000000Z
                            updated_at: 2023-09-14T08:01:05.000000Z
                          - id_option: 38
                            id_quiz: 13
                            kunci: B
                            option: bahasa pemrograman yang bisa memperlihatkan yang bagus
                            created_at: 2023-09-14T08:01:05.000000Z
                            updated_at: 2023-09-14T08:01:05.000000Z
                          - id_option: 39
                            id_quiz: 13
                            kunci: C
                            option: bahasa pemrograman yang bisa membuat aplikasi desktop
                            created_at: 2023-09-14T08:01:05.000000Z
                            updated_at: 2023-09-14T08:01:05.000000Z
          headers:
            Host:
              type: string
              default: 127.0.0.1:8000
            Date:
              type: string
              default: Tue, 26 Sep 2023 00:48:47 GMT
            Connection:
              type: string
              default: close
            X-Powered-By:
              type: string
              default: PHP/8.1.2-1ubuntu2.14
            Cache-Control:
              type: string
              default: no-cache, private
            X-RateLimit-Limit:
              type: string
              default: "60"
            X-RateLimit-Remaining:
              type: string
              default: "57"
            Vary:
              type: string
              default: Origin
  /api/admin/kelas/update/1:
    post:
      summary: update kelas
      tags:
        - Kelas
      operationId: updatekelas
      deprecated: false
      produces:
        - application/json
      consumes:
        - application/x-www-form-urlencoded
      parameters:
        - name: Authorization
          in: header
          required: false
          default: Bearer {token}
          type: string
        - name: description
          in: formData
          required: true
          type: string
          description: ""
      responses:
        "201":
          description: Created
          schema:
            $ref: "#/definitions/updatekelas"
          examples:
            application/json:
              metadata:
                code: 201
                status: success
                message: Kelas Berhasil Diupdate
              data:
                id_kelas: 1
                name: Javascript
                description: JavaScript adalah bahasa pemrograman tingkat tinggi yang pada awalnya dikembangkan untuk membuat website menjadi lebih “hidup”.
                image: images/kelas/agJxC8pHqgiJffNwGAGHEy1kKpTLm5R3ub27OjmB.jpg
                id_level: 1
                created_at: 2023-09-08T13:35:03.000000Z
                updated_at: 2023-09-09T02:50:43.000000Z
          headers:
            Host:
              type: string
              default: 127.0.0.1:8000
            Date:
              type: string
              default: Sat, 09 Sep 2023 02:51:40 GMT
            Connection:
              type: string
              default: close
            X-Powered-By:
              type: string
              default: PHP/8.2.10
            Cache-Control:
              type: string
              default: no-cache, private
            X-RateLimit-Limit:
              type: string
              default: "60"
            X-RateLimit-Remaining:
              type: string
              default: "57"
            Vary:
              type: string
              default: Origin
  /api/admin/kelas/delete/1:
    delete:
      summary: delete kelas
      tags:
        - Kelas
      operationId: deletekelas
      deprecated: false
      produces:
        - application/json
      parameters:
        - name: Authorization
          in: header
          required: false
          default: Bearer {token}
          type: string
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/deletekelas"
          examples:
            application/json:
              metadata:
                code: 200
                status: success
                message: Kelas Berhasil Dihapus
              data: true
          headers:
            Host:
              type: string
              default: localhost:8000
            Date:
              type: string
              default: Fri, 11 Aug 2023 11:52:19 GMT
            Connection:
              type: string
              default: close
            X-Powered-By:
              type: string
              default: PHP/8.1.12-1ubuntu4.2
            Cache-Control:
              type: string
              default: no-cache, private
            X-RateLimit-Limit:
              type: string
              default: "60"
            X-RateLimit-Remaining:
              type: string
              default: "58"
            Vary:
              type: string
              default: Origin
  /api/admin/materi/create:
    post:
      summary: create materi
      tags:
        - Materi
      operationId: createmateri
      deprecated: false
      produces:
        - application/json
      parameters:
        - name: Authorization
          in: header
          required: false
          default: Bearer {token}
          type: string
        - name: Body
          in: body
          required: true
          description: ""
          schema:
            $ref: "#/definitions/creatematerirequest"
      responses:
        "201":
          description: Created
          schema:
            $ref: "#/definitions/createmateri"
          examples:
            application/json:
              metadata:
                code: 201
                status: success
                message: Materi Berhasil Ditambahkan
              data:
                id_kelas: "3"
                name: Javascrypt pendahuluan 2
                materi: lorem ipsum mbvbnkjhgfghjklkjhgfdsdfghjk
                url: youtube.com
                updated_at: 2023-08-09T03:43:52.000000Z
                created_at: 2023-08-09T03:43:52.000000Z
                id_materi: 1
          headers:
            Host:
              type: string
              default: localhost:8000
            Date:
              type: string
              default: Wed, 09 Aug 2023 03:43:52 GMT
            Connection:
              type: string
              default: close
            X-Powered-By:
              type: string
              default: PHP/8.2.8
            Cache-Control:
              type: string
              default: no-cache, private
            X-RateLimit-Limit:
              type: string
              default: "60"
            X-RateLimit-Remaining:
              type: string
              default: "59"
            Vary:
              type: string
              default: Origin
  /api/admin/materi/all:
    get:
      summary: get all materi
      tags:
        - Materi
      operationId: getallmateri
      deprecated: false
      produces:
        - application/json
      parameters:
        - name: Authorization
          in: header
          required: false
          default: Bearer {token}
          type: string
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/getallmateri"
          examples:
            application/json:
              metadata:
                code: 200
                status: success
                message: Materi berhasil ditampilkan
              data:
                - id_materi: 1
                  id_kelas: 1
                  name: Javascrypt
                  materi: lorem ipsum mbvbnkjhgfghjklkjhgfdsdfghjk
                  url: youtube.com
                  created_at: 2023-08-09T03:43:52.000000Z
                  updated_at: 2023-08-09T04:13:00.000000Z
                  deleted_at: null
          headers:
            Host:
              type: string
              default: localhost:8000
            Date:
              type: string
              default: Wed, 09 Aug 2023 04:13:10 GMT
            Connection:
              type: string
              default: close
            X-Powered-By:
              type: string
              default: PHP/8.2.8
            Cache-Control:
              type: string
              default: no-cache, private
            X-RateLimit-Limit:
              type: string
              default: "60"
            X-RateLimit-Remaining:
              type: string
              default: "58"
            Vary:
              type: string
              default: Origin
  /api/admin/materi/1:
    get:
      summary: get materi by id
      tags:
        - Materi
      operationId: getmateribyid
      deprecated: false
      produces:
        - application/json
      parameters:
        - name: Authorization
          in: header
          required: false
          default: Bearer {token}
          type: string
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/getmateribyid"
          examples:
            application/json:
              metadata:
                code: 200
                status: success
                message: Materi Berhasil Ditemukan
              data:
                id_materi: 1
                id_kelas: 1
                name: Javascrypt
                materi: lorem ipsum mbvbnkjhgfghjklkjhgfdsdfghjk
                url: youtube.com
                created_at: 2023-08-09T03:43:52.000000Z
                updated_at: 2023-08-09T04:13:00.000000Z
                deleted_at: null
          headers:
            Host:
              type: string
              default: localhost:8000
            Date:
              type: string
              default: Wed, 09 Aug 2023 04:13:26 GMT
            Connection:
              type: string
              default: close
            X-Powered-By:
              type: string
              default: PHP/8.2.8
            Cache-Control:
              type: string
              default: no-cache, private
            X-RateLimit-Limit:
              type: string
              default: "60"
            X-RateLimit-Remaining:
              type: string
              default: "57"
            Vary:
              type: string
              default: Origin
  /api/admin/materiByKelas/1:
    get:
      summary: get materi by kelas
      tags:
        - Materi
      operationId: getmateribykelas
      deprecated: false
      produces:
        - application/json
      parameters:
        - name: Authorization
          in: header
          required: false
          default: Bearer {token}
          type: string
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/getmateribykelas"
          examples:
            application/json:
              metadata:
                code: 200
                status: success
                message: Materi Berhasil Ditemukan
              data:
                - id_materi: 1
                  id_kelas: 1
                  name: "Dasar Pemrograman dengan Javascript : INTRO"
                  materi: Di seri ini kita akan mempelajari mengenai konsep dasar pemrograman, istilah2 yang ada dalam dunia pemrograman, cara menulis dan mengeksekusi program, dll.
                  url: https://www.youtube.com/watch?v=RUTV_5m4VeI&ab_channel=WebProgrammingUNPAS
                  durasi: 5000
                  poin: 20
                  created_at: 2023-09-11T02:50:22.000000Z
                  updated_at: 2023-09-12T06:08:47.000000Z
                - id_materi: 2
                  id_kelas: 1
                  name: "Dasar Pemrograman dengan Javascript : Variable"
                  materi: Di seri ini kita akan mempelajari mengenai konsep dasar pemrograman, istilah2 yang ada dalam dunia pemrograman, cara menulis dan mengeksekusi program, dll.
                  url: https://www.youtube.com/watch?v=Ncrlg9kTC6U&ab_channel=WebProgrammingUNPAS
                  durasi: 6000
                  poin: 30
                  created_at: 2023-09-11T02:50:22.000000Z
                  updated_at: 2023-09-11T02:50:22.000000Z
[...]
